[Desktop Entry]
Type=Application
Name=Dashcam Investigator
GenericName=Forensic Dashcam Analyzer
Comment=Forensic investigation of evidence gathered from dashcam devices
Exec=DashcamInvestigator
Icon=DashcamInvestigator
Terminal=false
Categories=Office;AudioVideo;Utility;X-Forensics;
Keywords=forensics;dashcam;video;gps;investigation;
StartupWMClass=DashcamInvestigator
